<div class="a1">
    <form [formGroup]="registerform" class="a2">
        <h1>Sign in</h1><br>
        <i class="bi bi-person-fill"></i>
        <input type="text"placeholder="Username" formControlName='uname1'><br><br>
        <div style="color:red;" *ngIf="(this.registerform.get('uname1')?.errors)">incorrect</div>
        <i class="bi bi-person-fill"></i>
        <input type="text"placeholder="Accound number" formControlName="acno1"><br><br>
       
        <i class="bi bi-key-fill"></i>
        <input type="password"placeholder="password"formControlName="psd1"><br><br>
      
        <button type="button" (click)="register()" class="btn btn-success">Register</button><br>
        <p>already a user?<a routerLink="login">login</a></p>

    </form>
</div>
