label{
    color: yellow;
    text-align: center;
    font-size: 30px;
}
i{
    margin-left: 3px;
    color: red;
    font-size: 100px;
}
#chk{
    margin-left: 90px;
}
.main{
    width: 220px;
    height: 290px;
    margin-top: 130px;
    margin-left: 570px;
    overflow: hidden;
}
.a1{
    width: 200px;
    height:275px;
    text-align: center;
}
input{
    background-color: black;
    color: white;
    text-align: center;
    border: none;
}

 .a2{
    width: 200px;
    height:275px;
    background-color: black;
    opacity: .8;
    border-radius: 4px;
    text-align: center;
    transform: translateY(15px);
 }
 h1{
    color: yellow;
 }
 p{
    color: yellow;
 }
 #chk:checked~.a2{
transform: translateY(-250px);
 }
 #chk{
    display: none;
 }